.box_layout {
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.box_layout-menu {
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 12px;
    width: 24%;
    min-width: 300px;
    border-bottom: 1px solid #e8e8e8;
}
.box_layout-conten{
    min-height: 500px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-width: 800px;
    padding: 12px;
    width: 72%;
    border-bottom: 1px solid #e8e8e8;
}

.layout_menu ul{
    list-style: none;
    padding: 0;
}
.layout_menu ul li{
    padding: 14px 10px;
}
.layout_menu ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.layout_menu ul li:hover{
    cursor: pointer;
    background-color: rgba(93, 93, 93, 0.301);
}
