.class-add-product {
  // padding-top: 10px;
  margin-bottom: 20px;
  text-align: right;
  .button-checkout {
    border-radius: 30px;
  }
}
.cart-information {
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  .row {
    // margin: 0;
    // padding: 0;
    padding-bottom: -20px;
    border-bottom: 1px solid #000;
    h6 {
      margin-top: 5px;
      font-size: 20px;
    }

    .button-list-personal {
      text-align: right;
      margin-bottom: 10px;
    }
  }
}
.customer-information {
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.class-checkout {
  padding-top: 10px;
  text-align: right;
  .button-checkout {
    border-radius: 30px;
  }
}
.customer-information {
  .row {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #000;
    h6 {
      margin-top: 5px;
      font-size: 18px;
    }

    .button-list-personal {
      text-align: right;
      margin-bottom: 10px;
    }
  }
  .text-information {
    margin-top: 5px;
  }
}
.information-payment {
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  .header-information {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #000;
    h6 {
      margin-top: 5px;
      font-size: 18px;
    }

    .button-list {
      text-align: right;
      margin-bottom: 10px;
    }
  }
  .section-information {
    margin-top: 10px;
    .address {
      margin-top: 200px;
    }
  }
}
