.class-checkout {
  text-align: right;
  .button-checkout {
    border-radius: 30px;
  }
}
.class-tableCart {
  .table-Cart {
    tbody {
      tr {
        td {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
}
