.modal {
  --bs-modal-width: 800px !important;
}

$font-family: sans-serif;

.App {
  font-family: $font-family; // Sử dụng biến trong SCSS
  text-align: center;
}

// Lựa chọn phần tử có thuộc tính aria-hidden="true"
div.mb-3[aria-hidden="true"] {
  display: none !important;
}

.css-6s1xft-MuiGrid-root {
  display: block !important;
}

.content-left, .content-right {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 24px;
}

.m-25 {
  padding: 20px !important;
}

.info-discount {
  font-size: 20px;
  font-weight: 600;
}
// // Lựa chọn phần tử có thuộc tính aria-hidden="true"
// [aria-hidden="true"] {
//   display: none !important;
// }