//Home
.gray-background-home {
  background-color: rgb(237, 237, 237);
  text-align: center;
  font-size: small;
  .hello {
    color: rgb(0, 0, 0);
    font-size: small;
  }
}
//Section 2
.section2 {
  padding-top: 15px;
  .text {
    text-align: center;
    color: #111;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    text-transform: uppercase;
  }
  .carousel .carousel-control-prev {
    margin-left: 0px;
    padding-right: 100px;
  }
  .carousel .carousel-control-next {
    margin-left: 0px;
    padding-left: 100px;
  }
}
.carousel .carousel-inner .carousel-item {
  height: 400px;
}
//Section 3
.section3 {
  padding-top: 15px;
  .text {
    text-align: center;
    color: #111;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    text-transform: uppercase;
  }
}


