.box_address{
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    padding: 10px 8px;
}
.box_address-tile{
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}

.box_address-tile h4{
    margin: 0;
}
.box_address-body{
    min-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address_body-name{
    font-weight: 500;
    font-size: 16px;
}
.address_body-name span{
    margin-right: 4px;
}

.address_body-btn{
    margin-right: 10px;
    cursor: pointer;
    color: rgb(0, 94, 255);
}


.radio_address{
    border-top: 1px solid #ccc;
    padding: 12px 0;
    width: 100%;
}

.boxmodal_address{
   
}
.radio_address-name{
    font-size: 16px;
}

.radio_address-name .address_name{
    font-weight: 500;
    margin-right: 12px;
    padding-right: 12px;
    border-right: 1px solid #ccc;

}
