.box_profile{
    padding: 20px ;
}

.box_profile-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_profile-info label{
    width: 30%;
}
.box_profile-info{
    width: 70%;
    margin-bottom: 20px;
}
.box_profile-info .profile_info{
    width: 100%;
}