.input_number{
    margin: 0;
    width: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #0e0e0e;
    line-height: 1.5714285714285714;
    height: 32px;
    padding: 4px 15px;
    border: 1px solid rgba(145, 158, 171, .32)
}
.input_number:focus {
    border-color: blue; /* Thay đổi màu viền khi focus */
}
.input_number_btn{
    border-radius: 0px !important;
    margin: 0;
    

}