.box_addressGress{
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    padding: 10px 8px;
    width: 50%;
}
.box_addressGress-tile{
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}

.box_addressGress-tile h4{
    margin: 0;
}
.box_addressGress-body{
    /* min-height: 48px; */
   padding-bottom: 20px;
}
.box_addressGress-body>div{
    margin-top: 10px;
}
.box_addressGress-body>div label{
    font-size: 14px;
}
.addressGress_body-emailphone{
    display: flex;
    justify-content: space-between;
}


.addressGress_body-address{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addressGress_body-address>div{
    display: flex;
    flex-direction: column;
    flex: 0.3;

}
.addressGress_body-address>div+div{
}

