.box_buy{
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    padding: 10px 8px;
}
.box_buy-tile{
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}

.box_buy-tile h4{
    margin: 0;
}
.box_buy-body{
    /* min-height: 48px; */
   padding-bottom: 20px;
}
.box_buy-voucher{
    margin-top: 20px;
    border-bottom: 1px solid #e7e7e7;
    min-height: 120px;
}

.box_paymethot{
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #e7e7e7;

}

.box_paymethot{

    margin-bottom: 40px;
}
.buy_pay-item,
.pay_logic-item{
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
}
.buy_pay-item>label,
.pay_logic-item>label{
    font-size: 16px;
    font-weight: 500;
}
.buy_pay-logic{
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 0;
}

.buy_pay-item span{
    font-size: 20px;
    font-weight: 500;
}


.buy_pay-btn{
    width: 100%;
    border-radius: 0;
    height: 50px;
    margin-top: 20px;
}



