.slider_first .slick-prev:before,
.slider_first .slick-next:before {
    font-size: 40px !important;
}
.slider_first .slick-prev {
    width: 40px !important;
    height: 40px !important;
    z-index: 1 !important;
    left: 10px !important;
}
.slider_first .slick-next {
    right: 10px !important;
    z-index: 1 !important;
    width: 40px !important;
    height: 40px !important;
}
.slider_first .slick-dots {
    bottom: 10px !important;
    color: white !important;
}
.slider_first .slick-dots li.slick-active button:before,
.slider_first .slick-dots li button:before {
    color: white !important;
}
.slider_first .ant-image{
    width: 100% !important;
}
.slider_first .ant-image-img {
    object-fit: cover;
    width: 100%;
    height: 680px;

}

.slider_first .slick-slide {
    height: 680px;
}
.slider_second .slick-track .slick-slide div {
    width: 100% !important;
}

.slider_second {
    margin-top: 10px;
}
.slider_second .slick-track {
    margin: 0 auto !important;
    display: flex !important;
}
.slider_second .slick-track .slick-slide {
    width: 25% !important;
    margin: 0 5px;
    cursor: pointer;
}
.slider_second .slick-track .slick-slide:first-child {
    margin-left: 0; /* Loại bỏ margin trái của phần tử đầu */
}

.slider_second .slick-track .slick-slide:last-child {
    margin-right: 0; /* Loại bỏ margin phải của phần tử cuối */
}

.slider_second .slick-track .slick-slide img {
    width: 100% !important;
    max-height: 130px !important;
    object-fit: cover;
}
